spacy/model-best/config.cfg
spacy/model-best/meta.json
spacy/model-best/tokenizer
spacy/model-best/ner/cfg
spacy/model-best/ner/model
spacy/model-best/ner/moves
spacy/model-best/tok2vec/cfg
spacy/model-best/tok2vec/model
spacy/model-best/vocab/key2row
spacy/model-best/vocab/lookups.bin
spacy/model-best/vocab/strings.json
spacy/model-best/vocab/vectors
spacy/model-best/vocab/vectors.cfg
spacy/model-last/config.cfg
spacy/model-last/meta.json
spacy/model-last/tokenizer
spacy/model-last/ner/cfg
spacy/model-last/ner/model
spacy/model-last/ner/moves
spacy/model-last/tok2vec/cfg
spacy/model-last/tok2vec/model
spacy/model-last/vocab/key2row
spacy/model-last/vocab/lookups.bin
spacy/model-last/vocab/strings.json
spacy/model-last/vocab/vectors
spacy/model-last/vocab/vectors.cfg
spacy/model-last - Copy/config.cfg
spacy/model-last - Copy/meta.json
spacy/model-last - Copy/tokenizer
spacy/model-last - Copy/ner/cfg
spacy/model-last - Copy/ner/model
spacy/model-last - Copy/ner/moves
spacy/model-last - Copy/tok2vec/cfg
spacy/model-last - Copy/tok2vec/model
spacy/model-last - Copy/vocab/key2row
spacy/model-last - Copy/vocab/lookups.bin
spacy/model-last - Copy/vocab/strings.json
spacy/model-last - Copy/vocab/vectors
spacy/model-last - Copy/vocab/vectors.cfg
spacy/ner_corpus+paper1/config.cfg
spacy/ner_corpus+paper1/meta.json
spacy/ner_corpus+paper1/tokenizer
spacy/ner_corpus+paper1/ner/cfg
spacy/ner_corpus+paper1/ner/model
spacy/ner_corpus+paper1/ner/moves
spacy/ner_corpus+paper1/tok2vec/cfg
spacy/ner_corpus+paper1/tok2vec/model
spacy/ner_corpus+paper1/vocab/key2row
spacy/ner_corpus+paper1/vocab/lookups.bin
spacy/ner_corpus+paper1/vocab/strings.json
spacy/ner_corpus+paper1/vocab/vectors
spacy/ner_corpus+paper1/vocab/vectors.cfg
spacy/train_corpus.spacy
spacy/train_corpus+paper1.spacy
spacy/model-corpus/config.cfg
spacy/model-corpus/meta.json
spacy/model-corpus/tokenizer
spacy/model-corpus/entity_ruler/cfg
spacy/model-corpus/entity_ruler/patterns.jsonl
spacy/model-corpus/ner/cfg
spacy/model-corpus/ner/model
spacy/model-corpus/ner/moves
spacy/model-corpus/tok2vec/cfg
spacy/model-corpus/tok2vec/model
spacy/model-corpus/vocab/key2row
spacy/model-corpus/vocab/lookups.bin
spacy/model-corpus/vocab/strings.json
spacy/model-corpus/vocab/vectors
spacy/model-corpus/vocab/vectors.cfg
spacy/model-corpus+paper/config.cfg
spacy/model-corpus+paper/meta.json
spacy/model-corpus+paper/tokenizer
spacy/model-corpus+paper/ner/cfg
spacy/model-corpus+paper/ner/model
spacy/model-corpus+paper/ner/moves
spacy/model-corpus+paper/tok2vec/cfg
spacy/model-corpus+paper/tok2vec/model
spacy/model-corpus+paper/vocab/key2row
spacy/model-corpus+paper/vocab/lookups.bin
spacy/model-corpus+paper/vocab/strings.json
spacy/model-corpus+paper/vocab/vectors
spacy/model-corpus+paper/vocab/vectors.cfg
spacy/model-corpus2/config.cfg
spacy/model-corpus2/meta.json
spacy/model-corpus2/tokenizer
spacy/model-corpus2/ner/cfg
spacy/model-corpus2/ner/model
spacy/model-corpus2/ner/moves
spacy/model-corpus2/tok2vec/cfg
spacy/model-corpus2/tok2vec/model
spacy/model-corpus2/vocab/key2row
spacy/model-corpus2/vocab/lookups.bin
spacy/model-corpus2/vocab/strings.json
spacy/model-corpus2/vocab/vectors
spacy/model-corpus2/vocab/vectors.cfg
spacy/model-corpus_dev/config.cfg
spacy/model-corpus_dev/meta.json
spacy/model-corpus_dev/tokenizer
spacy/model-corpus_dev/ner/cfg
spacy/model-corpus_dev/ner/model
spacy/model-corpus_dev/ner/moves
spacy/model-corpus_dev/tok2vec/cfg
spacy/model-corpus_dev/tok2vec/model
spacy/model-corpus_dev/vocab/key2row
spacy/model-corpus_dev/vocab/lookups.bin
spacy/model-corpus_dev/vocab/strings.json
spacy/model-corpus_dev/vocab/vectors
spacy/model-corpus_dev/vocab/vectors.cfg
spacy/model-corpus2_dev/config.cfg
spacy/model-corpus2_dev/meta.json
spacy/model-corpus2_dev/tokenizer
spacy/model-corpus2_dev/ner/cfg
spacy/model-corpus2_dev/ner/model
spacy/model-corpus2_dev/ner/moves
spacy/model-corpus2_dev/tok2vec/cfg
spacy/model-corpus2_dev/tok2vec/model
spacy/model-corpus2_dev/vocab/key2row
spacy/model-corpus2_dev/vocab/lookups.bin
spacy/model-corpus2_dev/vocab/strings.json
spacy/model-corpus2_dev/vocab/vectors
spacy/model-corpus2_dev/vocab/vectors.cfg
spacy/evaluation.spacy
spacy/train_dev.spacy
notes_questions.odt
spacy/model-corpus/parser/cfg
spacy/model-corpus/parser/model
spacy/model-corpus/parser/moves
spacy/model-corpus/tagger/cfg
spacy/model-corpus/tagger/model
spacy/model-corpus2/entity_ruler/patterns.jsonl
spacy/model-corpus2_dev_ruler/config.cfg
spacy/model-corpus2_dev_ruler/meta.json
spacy/model-corpus2_dev_ruler/tokenizer
spacy/model-corpus2_dev_ruler/entity_ruler/cfg
spacy/model-corpus2_dev_ruler/entity_ruler/patterns.jsonl
spacy/model-corpus2_dev_ruler/ner/cfg
spacy/model-corpus2_dev_ruler/ner/model
spacy/model-corpus2_dev_ruler/ner/moves
spacy/model-corpus2_dev_ruler/tok2vec/cfg
spacy/model-corpus2_dev_ruler/tok2vec/model
spacy/model-corpus2_dev_ruler/vocab/key2row
spacy/model-corpus2_dev_ruler/vocab/lookups.bin
spacy/model-corpus2_dev_ruler/vocab/strings.json
spacy/model-corpus2_dev_ruler/vocab/vectors
spacy/model-corpus2_dev_ruler/vocab/vectors.cfg
spacy/model-corpus2/entity_ruler/patterns.jsonl
spacy/model-corpus2/entity_ruler/patterns.jsonl
notes_questions.odt
spacy/model-corpus2/entity_ruler/patterns.jsonl
spacy/model-corpusIOB_dev_ruler/config.cfg
spacy/model-corpusIOB_dev_ruler/meta.json
spacy/model-corpusIOB_dev_ruler/tokenizer
spacy/model-corpusIOB_dev_ruler/entity_ruler/cfg
spacy/model-corpusIOB_dev_ruler/entity_ruler/patterns.jsonl
spacy/model-corpusIOB_dev_ruler/ner/cfg
spacy/model-corpusIOB_dev_ruler/ner/model
spacy/model-corpusIOB_dev_ruler/ner/moves
spacy/model-corpusIOB_dev_ruler/tok2vec/cfg
spacy/model-corpusIOB_dev_ruler/tok2vec/model
spacy/model-corpusIOB_dev_ruler/vocab/key2row
spacy/model-corpusIOB_dev_ruler/vocab/lookups.bin
spacy/model-corpusIOB_dev_ruler/vocab/strings.json
spacy/model-corpusIOB_dev_ruler/vocab/vectors
spacy/model-corpusIOB_dev_ruler/vocab/vectors.cfg
spacy/model-corpusIOB_dev/config.cfg
spacy/model-corpusIOB_dev/meta.json
spacy/model-corpusIOB_dev/tokenizer
spacy/model-corpusIOB_dev/ner/cfg
spacy/model-corpusIOB_dev/ner/model
spacy/model-corpusIOB_dev/ner/moves
spacy/model-corpusIOB_dev/tok2vec/cfg
spacy/model-corpusIOB_dev/tok2vec/model
spacy/model-corpusIOB_dev/vocab/key2row
spacy/model-corpusIOB_dev/vocab/lookups.bin
spacy/model-corpusIOB_dev/vocab/strings.json
spacy/model-corpusIOB_dev/vocab/vectors
spacy/model-corpusIOB_dev/vocab/vectors.cfg
spacy/model-roberta_dev_ruler/config.cfg
spacy/model-roberta_dev_ruler/meta.json
spacy/model-roberta_dev_ruler/tokenizer
spacy/model-roberta_dev_ruler/entity_ruler/cfg
spacy/model-roberta_dev_ruler/entity_ruler/patterns.jsonl
spacy/model-roberta_dev_ruler/ner/cfg
spacy/model-roberta_dev_ruler/ner/model
spacy/model-roberta_dev_ruler/ner/moves
spacy/model-roberta_dev_ruler/transformer/cfg
spacy/model-roberta_dev_ruler/transformer/model
spacy/model-roberta_dev_ruler/vocab/key2row
spacy/model-roberta_dev_ruler/vocab/lookups.bin
spacy/model-roberta_dev_ruler/vocab/strings.json
spacy/model-roberta_dev_ruler/vocab/vectors
spacy/model-roberta_dev_ruler/vocab/vectors.cfg
spacy/combined_IOBspacy_roberta_dev_ruler/vocab/vectors.cfg
spacy/combined_IOBspacy_roberta_dev_ruler/vocab/vectors
spacy/combined_IOBspacy_roberta_dev_ruler/vocab/strings.json
spacy/combined_IOBspacy_roberta_dev_ruler/vocab/lookups.bin
spacy/combined_IOBspacy_roberta_dev_ruler/vocab/key2row
spacy/combined_IOBspacy_roberta_dev_ruler/tok2vec/model
spacy/combined_IOBspacy_roberta_dev_ruler/tok2vec/cfg
spacy/combined_IOBspacy_roberta_dev_ruler/ner/moves
spacy/combined_IOBspacy_roberta_dev_ruler/ner/model
spacy/combined_IOBspacy_roberta_dev_ruler/ner/cfg
spacy/combined_IOBspacy_roberta_dev_ruler/entity_ruler/patterns.jsonl
spacy/combined_IOBspacy_roberta_dev_ruler/entity_ruler/cfg
spacy/combined_IOBspacy_roberta_dev_ruler/tokenizer
spacy/combined_IOBspacy_roberta_dev_ruler/meta.json
spacy/combined_IOBspacy_roberta_dev_ruler/config.cfg
spacy/model-roberta_dev_ruler_v3.4.4/transformer/cfg
spacy/model-roberta_dev_ruler_v3.4.4/config.cfg
spacy/model-roberta_dev_ruler_v3.4.4/meta.json
spacy/model-roberta_dev_ruler_v3.4.4/tokenizer
spacy/model-roberta_dev_ruler_v3.4.4/entity_ruler/cfg
spacy/model-roberta_dev_ruler_v3.4.4/entity_ruler/patterns.jsonl
spacy/model-roberta_dev_ruler_v3.4.4/ner/model
spacy/model-roberta_dev_ruler_v3.4.4/ner/cfg
spacy/model-roberta_dev_ruler_v3.4.4/ner/moves
spacy/model-roberta_dev_ruler_v3.4.4/transformer/model
spacy/model-roberta_dev_ruler_v3.4.4/vocab/key2row
spacy/model-roberta_dev_ruler_v3.4.4/vocab/lookups.bin
spacy/model-roberta_dev_ruler_v3.4.4/vocab/strings.json
spacy/model-roberta_dev_ruler_v3.4.4/vocab/vectors
spacy/model-roberta_dev_ruler_v3.4.4/vocab/vectors.cfg
spacy/model-roberta_IOB_dev_ruler_v3.4.2/config.cfg
spacy/model-roberta_IOB_dev_ruler_v3.4.2/meta.json
spacy/model-roberta_IOB_dev_ruler_v3.4.2/tokenizer
spacy/model-roberta_IOB_dev_ruler_v3.4.2/entity_ruler/cfg
spacy/model-roberta_IOB_dev_ruler_v3.4.2/entity_ruler/patterns.jsonl
spacy/model-roberta_IOB_dev_ruler_v3.4.2/ner/cfg
spacy/model-roberta_IOB_dev_ruler_v3.4.2/ner/model
spacy/model-roberta_IOB_dev_ruler_v3.4.2/ner/moves
spacy/model-roberta_IOB_dev_ruler_v3.4.2/transformer/cfg
spacy/model-roberta_IOB_dev_ruler_v3.4.2/transformer/model
spacy/model-roberta_IOB_dev_ruler_v3.4.2/vocab/key2row
spacy/model-roberta_IOB_dev_ruler_v3.4.2/vocab/lookups.bin
spacy/model-roberta_IOB_dev_ruler_v3.4.2/vocab/strings.json
spacy/model-roberta_IOB_dev_ruler_v3.4.2/vocab/vectors
spacy/model-roberta_IOB_dev_ruler_v3.4.2/vocab/vectors.cfg
spacy/emodnet-spacy.ipynb
spacy/model-roberta_dev_ruler_v3.4.2/vocab/vectors.cfg
spacy/model-roberta_dev_ruler_v3.4.2/vocab/vectors
spacy/model-roberta_dev_ruler_v3.4.2/vocab/lookups.bin
spacy/model-roberta_dev_ruler_v3.4.2/vocab/strings.json
spacy/model-roberta_dev_ruler_v3.4.2/vocab/key2row
spacy/model-roberta_dev_ruler_v3.4.2/transformer/model
spacy/model-roberta_dev_ruler_v3.4.2/transformer/cfg
spacy/model-roberta_dev_ruler_v3.4.2/ner/moves
spacy/model-roberta_dev_ruler_v3.4.2/ner/model
spacy/model-roberta_dev_ruler_v3.4.2/ner/cfg
spacy/model-roberta_dev_ruler_v3.4.2/entity_ruler/patterns.jsonl
spacy/model-roberta_dev_ruler_v3.4.2/entity_ruler/cfg
spacy/model-roberta_dev_ruler_v3.4.2/tokenizer
spacy/model-roberta_dev_ruler_v3.4.2/meta.json
spacy/model-roberta_dev_ruler_v3.4.2/config.cfg
spacy/model-roberta_dev/model-best/vocab/vectors.cfg
spacy/model-roberta_dev/model-best/vocab/vectors
spacy/model-roberta_dev/model-best/vocab/strings.json
spacy/model-roberta_dev/model-best/vocab/lookups.bin
spacy/model-roberta_dev/model-best/vocab/key2row
spacy/model-roberta_dev/model-best/transformer/model
spacy/model-roberta_dev/model-best/transformer/cfg
spacy/model-roberta_dev/model-best/ner/moves
spacy/model-roberta_dev/model-best/ner/model
spacy/model-roberta_dev/model-best/ner/cfg
spacy/model-roberta_dev/model-best/tokenizer
spacy/model-roberta_dev/model-best/meta.json
spacy/model-roberta_dev/model-best/config.cfg
spacy/emodnet-spacy.ipynb
spacy/combined_IOBspacy_roberta_dev_ruler/transformer/model
spacy/combined_IOBspacy_roberta_dev_ruler/transformer/cfg
spacy/combined_IOBspacy_roberta_dev_ruler/ner_roberta/moves
spacy/combined_IOBspacy_roberta_dev_ruler/ner_roberta/model
spacy/combined_IOBspacy_roberta_dev_ruler/ner_roberta/cfg
spacy/dataset18.py
spacy/emodnet-spacy.ipynb
spacy/ecology_evolution.py
spacy/train_dev_full.spacy
spacy/train_eval_full.spacy
spacy/train_train_full.spacy
spacy/__pycache__/dataset18.cpython-39.pyc
spacy/__pycache__/ecology_evolution.cpython-39.pyc
spacy/model-best_fulldev-eval/config.cfg
spacy/model-best_fulldev-eval/meta.json
spacy/model-best_fulldev-eval/tokenizer
spacy/model-best_fulldev-eval/ner/model
spacy/model-best_fulldev-eval/ner/cfg
spacy/model-best_fulldev-eval/ner/moves
spacy/model-best_fulldev-eval/tok2vec/cfg
spacy/model-best_fulldev-eval/tok2vec/model
spacy/model-best_fulldev-eval/vocab/key2row
spacy/model-best_fulldev-eval/vocab/lookups.bin
spacy/model-best_fulldev-eval/vocab/strings.json
spacy/model-best_fulldev-eval/vocab/vectors
spacy/model-best_fulldev-eval/vocab/vectors.cfg
spacy/model-best_fulltxt/config.cfg
spacy/model-best_fulltxt/meta.json
spacy/model-best_fulltxt/tokenizer
spacy/model-best_fulltxt/ner/cfg
spacy/model-best_fulltxt/ner/model
spacy/model-best_fulltxt/ner/moves
spacy/model-best_fulltxt/tok2vec/model
spacy/model-best_fulltxt/vocab/key2row
spacy/model-best_fulltxt/vocab/lookups.bin
spacy/model-best_fulltxt/vocab/strings.json
spacy/model-best_fulltxt/vocab/vectors
spacy/model-best_fulltxt/vocab/vectors.cfg
spacy/model-best_fulltxt/tok2vec/cfg
